In [5]:
# Importing Necessary Package
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [6]:
# Importing Dataset
train_df=pd.read_csv("train.csv")
test_df=pd.read_csv("test.csv")

In [10]:
# View Top Five Data for Training Data
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
# Details Summary for Training Dataset
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
# Check Null Valu -- Details
train_df.isnull().sum().sort_values(ascending = False)

Cabin          687
Age            177
Embarked         2
Fare             0
Ticket           0
Parch            0
SibSp            0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

In [13]:
# Testing Data Details 
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [14]:
# Fill Up Null value 
train_df["Age"].fillna(train_df.Age.mean(),inplace=True)
train_df["Cabin"].fillna(0,inplace=True)
# Fill Up Null value 
test_df["Age"].fillna(train_df.Age.mean(),inplace=True)
test_df["Cabin"].fillna(0,inplace=True)
#droping the 2 missing values of embarked
train_df.dropna(inplace=True)

In [15]:
# Check Training Data 
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [16]:
# Check Again Null Value in Test Data
train_df.isnull().sum().sort_values(ascending=False)
    
#Replacing multiple values at the same time
train_df['Sex'].replace(['female','male'],['0','1']).head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: object

In [17]:
X = train_df.drop(["PassengerId","Name","Ticket","Cabin","Fare","Survived"],axis=1)
Y = train_df["Survived"]

df_test=test_df.drop(["PassengerId","Name","Cabin","Ticket","Fare"],axis=1)



# This function change Embarked column speciall letter to number
def emb(t):
    if t=="S":
        return 2
    elif t=="C":
        return 1
    else:
        return 0

    
# Training Dataset convert string to number  to number 
X['Sex'] = X.Sex.replace(['female','male'],[0,1])
X['Embarked'] = X.Embarked.apply(emb)


# For Tesing DataSet
df_test['Sex'] = df_test.Sex.replace(['female','male'],[0,1])
df_test['Embarked'] = df_test.Embarked.apply(emb)

In [18]:

X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

# Training Using RandomForestClassifier

In [19]:
my_model_rforest = RandomForestClassifier()
my_model_rforest.fit(X_train,Y_train)
y_pred = my_model_rforest.predict(X_test)
acc_gaus = round(my_model_rforest.score(X_train,Y_train)*100,2)
print("Accuracy = ",acc_gaus)

Accuracy =  92.79

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [20]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

# Train the model using the training sets 
model.fit(X_train, Y_train)

#Predict Output 
predicted= model.predict(X_test)
acc_gaus = round(model.score(X_train,Y_train)*100,2)
print("Accuracy = ",acc_gaus)

Accuracy =  79.58

In [21]:
from sklearn import linear_model
model = linear_model.LogisticRegression(random_state = 42,max_iter= 150)

# Train the model using the training sets 
model.fit(X_train, Y_train)

#Predict Output 
predicted= model.predict(X_test)
acc_gaus = round(model.score(X_train,Y_train)*100,2)
print("Accuracy = ",acc_gaus)

Accuracy =  81.98

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [22]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import re

Using TensorFlow backend.

In [23]:
X_train.shape[0]

666

In [24]:
embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(666, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 6, 128)            85248
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 6, 128)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 196)               254800
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 394
=================================================================
Total params: 340,442
Trainable params: 340,442
Non-trainable params: 0
_________________________________________________________________
None

In [26]:
batch_size = 32
model.fit(X_train, Y_train, epochs = 7, batch_size=batch_size, verbose = 2)

ValueError: Error when checking target: expected dense_1 to have shape (2,) but got array with shape (1,)